/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 0;
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
}

.App {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.add-button {
  padding: 0.5rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-button:hover {
  background-color: #0056b3;
}

.data-table {
  width: 100%;
  margin-top: 1rem;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 0.75rem;
  text-align: left;
}

.data-table th {
  background-color: #f1f1f1;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.found {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
